@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@font-face {
  font-family: "Calibri";
  src: url('../fonts/Calibri.ttf');
}
@font-face {
  font-family: "Trebuchet MS";
  src: url('../fonts/TrebuchetMSBold.ttf');
}
@font-face {
  font-family: "Futura Md";
  src: url('../fonts/Futura.ttf');
}