//font colors
$f-orange: #ee8129;
$f-blue: #3070a8;
$f-grey: #989898;
$f-title: #40525c;
$f-advantages: #999999;
$f-content: #9d9d9d;
$f-client-says: #3170a8;
$f-review: #666666;
$f-black: #1d1b1b;
$f-white: #ffffff;
$f-banner-button: #0b3554;
$f-offers-ul: #888c94;
//bg colors
$bg-white: #ffffff;
$bg-standart: #2bc2d5;
$bg-best-value: #ee8129;
$bg-ultimate: #00b89a;
$bg-button: #3070a8;
$bg-footer: #3070a8;
$bg-banner: #0b3554;
$bg-odd: #edf5fd;
$bg-even: #f5f5f6;
$bg-blue-button: #3070a8;

//text-shadow
$shadow_black: 2px 2px 6px #000;
$shadow_white: 0px 2px 0px rgba(0, 0, 0, 0.26);
//box-shadow
$box_shadow_button: 0 5px 7px #a02a43;
$box_shadow_black: 0 0 10px #000;

$offers_button_shadow: 0 3px 0px 0px #b3560b;